*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    height: 100vh;
}

nav{
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid red;
}

.nav-left{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.google-img{
    width: 35%;
}

.search-box{
    display: flex;
    width: 40%;
    border: 1px solid lightgrey;
    border-radius: 16px;
    padding: 10px;
    justify-content: center;
}

.search-box input{
    border: none;
}

button{
    padding: 10px;
    font-size: 1.1em;
    border-radius: 16px;
    border: none;
    margin: 10px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: lightgray;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

footer p{
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: space-between;
}

.links-left, .links-right{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
